# Ignore all x64 build folders
**/x64/

# Build results
[Bb]in/
[Oo]bj/
[Ll]og/
*.log

# Visual Studio cache & settings
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Compiled binary files
*.exe
*.dll
*.pdb
*.mdb
*.idb
*.ilk
*.lib

# Intermediate files
*.obj
*.pch
*.ipch
*.tmp
*.cache
*.bak

# Profiling
*.psess
*.vsp
*.vspx
*.sap

# Database files
*.opendb
*.VC.db
*.VC.opendb

# Other junk
*.tlog
*.lastbuildstate
*.log
*.sdf

# Ignore ReSharper & Rider
_ReSharper*/
*.DotSettings.user

# Ignore CMake build folders
CMakeFiles/
CMakeCache.txt
cmake-build-*/

# Ignore vcpkg installed packages
vcpkg_installed/

# Ignore NuGet packages
*.nupkg
*.snupkg
packages/
